* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  color: #fff;
}

.overlay {
  position: relative;
  min-height: 100vh;
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0,0,0,0.5);
}

#content-wrapper {
  display: grid;
  grid-template-areas:
    "title title"
    "weather todo"
    "quote todo";
  grid-template-columns: 1fr 2fr;
  grid-gap: 30px;
  max-width: 1000px;
  width: 100%;
}

#app-title {
  grid-area: title;
  font-size: 48px;
  font-style: italic;
  font-family: 'Cedarville Cursive', cursive;
  text-align: center;
  background: linear-gradient(90deg, #fff, #5f67d9);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (max-width: 768px) {
  #content-wrapper {
    grid-template-areas:
      "title"
      "todo"
      "weather"
      "quote";
    grid-template-columns: 1fr;
  }
}